

:root {
    font-family: 'Roboto', sans-serif;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 16px;
    --blackbtn:#000000;
    --grey30:#212121;
    --grey20:#212429;
    --grey10:#616161;

}


body {
    color:var(--grey30);
}

a {
    color:var(--grey30);
}

header {
    font-size: 14px;
}

header a {
    color:var(--grey10);
    text-decoration: none;
    
}

header a:hover {
    color:var(--grey20);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
    /*font-size: 3.75em;*/
}

h2 {
    font-size: 2em;
}

h3 {
    /*font-size: 24px;*/
    font-size: 1.5em;
}
