:root {
    font-family: 'Roboto', sans-serif;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 16px;
    --blackbtn:#000000;
    --grey30:#212121;
    --grey20:#212429;
    --grey10:#616161;
    

}

html {
    scroll-behavior:smooth;
}

body {
    color:var(--grey30);
    margin:0
}

a {
    color:var(--grey30);
}

header {
    font-size: 14px;
    width: 188px;
    height: 400px;
    color:var(--blackbtn);
    top:64px;
    left: -232px;;
    position: absolute;
    z-index: -1;
    line-height: 24px;
}

header a {
    color:var(--grey10);
    text-decoration: none;
}

header a:hover {
    color:var(--grey20);
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}

header li {
    margin-bottom: 16px;
}

h1 {
    font-size: 60px;
    /*font-size: 3.75em;*/
    margin: 64px 0px 16px 0px;
    font-weight: normal;
}


hr {
    color: var(--grey20);
    margin-bottom: 64px;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 64px 0px 40px 0px ;

}

h3 {
    /*font-size: 24px;*/
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

.img-dom {
    width: 100%;
    height: 900px;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'roboto';
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px;
    padding-left: 16px;
    border-left: 4px solid ;
}

blockquote span {
    color:var(--grey10);
}
blockquote span::before {
    content: '-'
}

/*.debug {
    /*box-shadow: inset 0 0 0 50px red; inset va x dentro;
    outline: 50px solid red;
    background: red
    border: 1px solid red !important;
    box-sizing: 5px sold blue; 
    
    todos estos recursos sirven para poder ubicar nuestro selector
    en un proyecto mas grande sin cambiar su diseño;
    
}
*/
/*.title {
    /* height: 200px;
        width: 200px;
        margin: 100px;
        border: 5px solid blue; 
}
*/

.hero {
    background-image:linear-gradient(to top,rgba(255,255,255,.4),transparent), url(/images/patron-1.png);
    height: 350px;
    width: 100%;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content hr {
    display: none;
}

.section-content img {
    margin-top: 40px;
}
.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
    position: relative;
}

/*.section-content h3::before {
    /*content:counter(tittleList, decimal) '. ';
}*/


.section-content h3::after {
    content: '';
    background-color:var(--grey20);
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 171px;
    left: 0; 
    bottom: 0;
}

.header {
    position: sticky;
    top: 0;
}

.header-content{
    position: relative;
}
/*.main {
    /*background-image:linear-gradient(to top,rgba(255,255,255,.4),transparent), url(/images/patron-1.png);*/

.wrapper {
    width: 902px;
    margin: auto;
    padding: 10px;
}

/*.main-content {
    
}





/*

Siempre trabajar por secciones y la ley del wrapper

::selection {
    background:lightblue ;
}*/

/* Margin collapsing son margenes que se superponen, es decir no se suman entre si.
funciona solo en contexto de bloque(display: block) y funciona solo de arriba a abajo

Una etiqueta span sirve para representar un contenido 
no semantico dentro de un contenido semantico

usar outline en vez de border para señalizar un selector si estamos en un proyecto grande
outline es mejor porque no suma px al diseño y no lo altera, y lo señaliza igual.

si un elemento bloque, por ejemplo main, tiene un ancho DEFINIDO (ej:900px)
podemos usar margin:auto; para centrarlo en la pantalla

*/